# Data Science Tools

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

    - Popular Languages in Data Science
    - Commonly Used Libraries in Data Science
    - Data Science Tools
    - Arithmetic Expression Example

Some of the popular languages that Data Scientists use are:
    
    1. Python
    2. R
    3. SQL

Some of the commonly used libraries used by Data Scientists include:
    
    1. NumPy
    2. Keras
    3. Panda
    4. PyTorch

| Data Science Tools |
| --------|
|Model Deployment|
|Data Visualization|
|Data Management|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60

min=int(input("Enter time in minutes"))
h=min//60
m=min%60
print("Hours=",h)
print("Minutes=",m)

Enter time in minutes 200

Hours= 3
Minutes= 20

## Author
Britney Bell-Moses